<h2>Sum</h2><hr />
@using (@Html.BeginForm())
{
    @Html.Label("Enter First number     :");
    @Html.TextBox("x");<br /><br />
    @Html.Label("Enter Second number    :");
    @Html.TextBox("y");<br /><br />
    <input type="submit" value="Add" name="sb2" id="sb2" />
}