<h2>Index</h2>
@using (@Html.BeginForm())
{
    @Html.Label("Dept. number");
    @Html.TextBox("DeptNo");<br /><br />
    @Html.Label("Dept. Name");
    @Html.TextBox("DName");<br /><br />
    @Html.Label("Location");
    @Html.TextBox("Location");<br /><br />
    <input type="submit" value="Submit" />
}